body {
  margin: 0;
  padding: 0;
  }
img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: 100vh;
  }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}